<h3>Upcoming events <h3>
 <% @upcoming_events.each do |event| %>
  <strong>Date:</strong> <%= event.date %></li>
  <strong>Description:</strong> <%= event.description %>
 <% end %>

<h3>Past events <h3>


 <%  @past_events.each do |event| %>
  <strong>Date:</strong> <%= event.date %></li>
  <strong>Description:</strong> <%= event.description %>
 <% end %>


