<h1>All events </h1>
<% @event.each do |t|%>
  <%= t.description %>
  <%unless attends? t.id %>
   <%= form_with model: @attendance, url: attendance_path  do |f| %>
   <%= f.hidden_field :attended_events_id, value: t.id %> 
  
    <%= f.submit "Submit" %>
  
<% end %>
<% end %>
<% end %>